.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: rgb(221, 255, 244);
    border: 2px solid rgb(61, 150, 120);
    margin-bottom: 20px;
}

.title{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(61, 150, 120);
    margin-bottom: 10px;
}

.header-second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.instruct-button{
    height: 40px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(61, 150, 120);
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
}

.instruct-button:hover{
    background-color: rgb(32, 100, 78);
}

.start-button{
    height: 40px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(61, 150, 120);
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
}

.start-button:hover{
    background-color: rgb(32, 100, 78);
}

.node-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.node-info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-title{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(61, 150, 120);
}

.node-img{
    width: 30px;
    height: 30px;
}

.start-box{
    background-image: url('../images/Start.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.end-box{
    background-image: url('../images/End.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.black-box{
    background-color: black;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.grey-box{
    background-color: darkgrey;
    width: 28px;
    height: 28px;
    border: 1px solid black;
    margin-top: 10px;
}

.dark-grey-box{
    background-color: rgb(83, 83, 83);
    width: 28px;
    height: 28px;
    border: 1px solid black;
    margin-top: 10px;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(61, 150, 120);
    width: 200px;
}

.node-toggle{
    margin-top: 22px;
    color: rgb(15, 167, 116);
    font-weight: bold;
}

.reset-button{
    height: 40px;
    width: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(61, 150, 120);
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
}

.reset-button:hover{
    background-color: rgb(32, 100, 78);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    border: 1px solid green;
}

.row{
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.linkedin{
    background-image: url('../images/linkedin.png');
    background-size: cover;
    height: 60px;
    width: 60px;
}

.github{
    background-image: url('../images/github.png');
    background-size: cover;
    height: 60px;
    width: 60px;
}

.angellist{
    background-image: url('../images/angellist.png');
    background-size: cover;
    height: 60px;
    width: 42px;
}