.node{
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.starting-node{
    background-image: url('../images/Start.png');
    background-size: cover;
}

.ending-node{
    background-image: url('../images/End.png');
    background-size: cover;
}

.wall-node{
    background-color: black;
}

.big-weight-node{
    background-color: rgb(83, 83, 83);
}

.small-weight-node{
    background-color: darkgrey;
}

.visited-node{
    background-color: orange;
}

.node-shortest-path{
    background-color: blue;
}