.node{
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.starting-node{
    background-color: green;
}

.ending-node{
    background-color: red;
}

.wall-node{
    background-color: black;
}

.big-weight-node{
    background-color: rgb(58, 58, 58);
}

.small-weight-node{
    background-color: darkgrey;
}

.visited-node{
    background-color: orange;
}

.node-shortest-path{
    background-color: blue;
}